<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/ico" href="https://d2ddi39c2rqcmy.cloudfront.net/img/favicon.602c606e.ico" />
    <link rel="apple-touch-icon" type="image/png" href="https://diy1dqjwmz5rw.cloudfront.net/img/apple-touch-icon.b3237f5b.png" />
    <link href="http://smarkets.github.com/atom.xml" rel="alternate" title="Smarkets API" type="application/atom+xml" />
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Smarkets API</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/docs/">Documentation</a></li>
      <li><a href="/downloads.html">Downloads &amp; Code</a></li>
      <li><a href="/terms-conditions.html">Terms &amp; Conditions of API Access</a></li>
    </ul>
    {{ content }}
  </body>
</html>
