<html>
  <head>
    <link rel="shortcut icon" type="image/ico" href="https://d2ddi39c2rqcmy.cloudfront.net/img/favicon.602c606e.ico" /> 
    <link rel="apple-touch-icon" type="image/png" href="https://diy1dqjwmz5rw.cloudfront.net/img/apple-touch-icon.b3237f5b.png" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>Smarkets API</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/docs/">Documentation</a></li>
      <li><a href="/downloads.html">Downloads &amp; Code</a></li>
    </ul>
    {{ content }}
  </body>
</html>
