<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/ico" href="https://d2ddi39c2rqcmy.cloudfront.net/img/favicon.602c606e.ico" />
    <link rel="apple-touch-icon" type="image/png" href="https://diy1dqjwmz5rw.cloudfront.net/img/apple-touch-icon.b3237f5b.png" />
    <link href="http://feeds.feedburner.com/SmarketsApi" rel="alternate" title="Smarkets API updates" type="application/atom+xml" />
    <link href="/static/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
        <h1><span>Smarkets</span> API</h1>
    </div>
    <div id="content">
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/smk_api_docs/">Documentation</a></li>
        </ul>
        <h2>{{ page.title }}</h2>
        written by <a href="https://github.com/{{ page.author }}">{{ page.author }}</a>
        on <span class="date">{{ page.date | date_to_string }}</span>
        {{ content }}
    </div>
    <div id="footer">
    </div>
  </body>
</html>
